In [ ]:
#VARIABLES
#Single line comment
#Representing the information in python using variables
#multi line comment
'''
Scenario 1: James is a student at kent college. He has a lunch box containing
    5 apples, 3 oranges and two bottles of water
Task: Represent this information in python using variables

'''

In [ ]:
Variables are used to store values

SyntaxError: invalid syntax (860169376.py, line 1)

In [ ]:
#Representing the information in python using variables

In [ ]:
'''
James
student
kent college
one lunch box
5 apples
3 oranges
2 bottle water
'''

In [ ]:
#creating variable for each object

In [ ]:
#Rules for creating a variable
1. name must be descriptive of the type of object or value it holds
2. name must be camel case or snake case
3. name must be short

In [ ]:
studentName = 'James'
status = 'student'
college = 'kent'
numLunchBox = 1
numApples = 5
numOranges = 3
numWater = 2

In [ ]:
Scenario 2: Agatha is a 45 year old teacher in St James college. she teaches 
3 subjects and drives a BMW and has a retirement account balance of 3000dollars

In [10]:
teacherName = 'Agatha'
teacherAge = 45
employmentStatus = 'teacher'
college = 'st. James'
car = 'BMW'
accountType = 'retirement'
acctBal = 3000
currency = '$'
numSubjects = 3

In [11]:
print(teacherName)

Agatha

In [12]:
college

'st. James'

In [13]:
print(teacherAge)

45

In [14]:
print('the name of the teacher is :', teacherName)

the name of the teacher is : Agatha

In [ ]:
#operators

add
minus
multiply

In [16]:
studentAge = 50
numCollegeYrs = 7
graduationAge = studentAge + numCollegeYrs  #python expressions
print(graduationAge)

57

In [18]:
hrsWorked = 8
hourlyWage = 15
dayPay = hrsWorked * hourlyWage
print(dayPay)
currSymbol = "$"

#including currency
dayPay2 = currSymbol + str(dayPay)
print(dayPay2)

120
$120

In [2]:
# exponential operator
exponential = 4
targetNum = 5
result = targetNum**exponential
print(result)

625

In [3]:
#Assignment operators
mumAge = 40
increment = 2
mumAge +=increment
print(mumAge)

42

In [5]:
studentNum = 50
boyNum = 30
studentNum -= boyNum
print(studentNum)

20

In [6]:
#comparison operator
a = 4
b = 5
print(a==b)

False

In [7]:
j =47
k = 87
print(j<k)

True

In [16]:
name1 = 'AYO'
name2= 'segun'

print((len(name1) > len(name2)))

False

In [18]:
a = 2
b=4
res = (((a**b)/2)+1)
print(int(res))

9