## Python for data science

In [1]:
# my first python program
print('Hello World, welcome to my first python program')

Hello World, welcome to my first python program

In [2]:
# Basic Arithmetic +,-,*& /

#Addition
print(2+18)

20

In [3]:
# substraction
200-156

44

In [4]:
#multiplication
2*20

40

In [5]:
# division
5/5

1.0

In [6]:
# raise to power **
2**3

8

In [7]:
5**4

625

In [8]:
16 * (2**3)

128

In [9]:
# floor number, it returns interger meaning whole numbers (//)
14//5

2

In [10]:
# modulo, it returns the remainder after division (%)
14 % 5

4

In [11]:
25 % 6

1

### DATA TYPES
- Variables can store data of different types

Integer - 1, 2, 3, 4....

Float - 4.5, 6.25, 0.04

string - alphabet and text

bool - logical statement, True or False, it starts with capital letter

List - it can contain items not unique [mango, orange, apple, banana]

Dict - it stores key value items {key : value, Name : 'Damilola'}

tuple - items are order and unchangebslr or umutable ('mercedez', 'lexus')

In [12]:
# Integer (int)
int(15.4)

15

In [14]:
int(87.6)

87

In [15]:
# type, it helps to check the data type
type(23)

int

In [16]:
# float
float(12.06)

12.06

In [17]:
type(12.35)

float

In [19]:
# variable assignment with string str
x = 'Sayo is doing well'
print(x)

Sayo is doing well

In [20]:
x

'Sayo is doing well'

In [21]:
type(x)

str

In [22]:
#boolean bool
y = False
print(y)

False

In [23]:
type(y)

bool

In [25]:
# A short code on assignment
firstname = 'Omowumi'
surname = 'Oguns'
account_balance = 25000
tax_rate = 3/100
tax_amount = account_balance * tax_rate
married = True or False
 
print (firstname + ' ' + surname)
print (tax_rate)
print(tax_amount)
print(married)

Omowumi Oguns
0.03
750.0
True

In [26]:
# list
numbers = [1,2,3,4]
print(numbers)

[1, 2, 3, 4]

In [27]:
type(numbers)

list

In [31]:
# lists can also be cobination of value and string/float
my_list = [1, 'hello', 3.4]
print(my_list)
type(my_list)

[1, 'hello', 3.4]

list

In [29]:
fruits = ['Mango', 'Cashew', 'Banana']
print(fruits)

['Mango', 'Cashew', 'Banana']

In [30]:
type(fruits)

list

In [32]:
# Append a list, it is a method that adds an item or list to the end of the list
fruits.append('strawberry')
print(fruits)

['Mango', 'Cashew', 'Banana', 'strawberry']

In [33]:
car = ['volvo', 'Toyota', 'Venza']
colour = ['Black', 'Green', 'Blue']
car.append(colour)
print(car)

['volvo', 'Toyota', 'Venza', ['Black', 'Green', 'Blue']]

In [36]:
# Input function
surname = input('please enter your surname: ')
firstname = input('please enter your firstname: ')
Age = int(input('How old are you?: '))
account_balance =int(input('how much is your account balance?: '))
tax_rate = float(input('what is the tax rate in your country?: '))
tax_amount = float(input('how much is your tax amount?: '))
married = input('are you married?: ')

please enter your surname: Ogunmiluyi
please enter your firstname: Omowumi
How old are you?: 26
how much is your account balance?: 3000000
what is the tax rate in your country?: 0.3
how much is your tax amount?: 9000
are you married?: yes

In [37]:
# Absolute (Abs), it converts negative to positive
abs(-209)

209

In [38]:
abs(-3.42)

3.42

In [ ]:
# Help, it is a function that helps in documentation of specified modules as variable

In [45]:
# round, it helps to approximate float to decimal or whole number
round(945.436, 2)

945.44

In [44]:
round(234.789, 1)

234.8

In [46]:
weight = 78.35
round(weight)

78

In [47]:
#reverse, it is an inbuilt method to modify objects in list, you cant use a reverse for a string
list1 =[1,2,3,4,2,1,6]
list1.reverse()
list1

[6, 1, 2, 4, 3, 2, 1]

In [48]:
list2 = ["banana", 'cherry', 'orange']
list2.reverse()
list2

['orange', 'cherry', 'banana']

In [49]:
# pop , it is a predefined inbuilt function that removes an item from a specified index in a list
cars = ['mercedes','volvo','lexus']
cars

['mercedes', 'volvo', 'lexus']

In [50]:
re_cars =cars.pop(2)
re_cars

'lexus'

In [52]:
# placeholder %s
Name = 'Damilola'
age = 20
print(' My name is %s and I am %s years old' %(Name,age))

 My name is Damilola and I am 20 years old

In [56]:
#split
y = 'welcome to my birthay party'
y.split
print(y)

welcome to my birthay party

In [59]:
# format method 
txt2 = 'My name is {Name} and i am {age} years old'. format(Name = 'Kelvin', age = 20)
print(txt2)

My name is Kelvin and i am 20 years old

In [60]:
#InDEX 
# list of vowels 
vowels = ['a', 'e', 'i','o', 'u']
# find the position "u"
index_no = vowels.index('u')
print(index_no)

4

In [62]:
Name = ['kemi','sola','tola', 'Temi', 'kelly']
# find sola
index_no2= Name.index('sola')
print(index_no2)

1

In [73]:
#SLICING, it returns a sliced object that is used to slice any sequence (string, tuple, list, range)
txt3 = 'python programming class'
# get slice object python
sliced_txt = slice(6)
print(txt3[sliced_txt])

python

5

In [72]:
# Breadknife  [start:End], [start:end:step]
test = 'the sky is very blue'
test[1:]

'he sky is very blue'

In [76]:
test[4:10:2]

'syi'

In [ ]:
test1 =